

<% if (@user.nil?) %>

	<div>
		<form class='upanel-from-login' action='<%= url_for :controller => 'auth', :action => 'user_login'  %>'>
			<span><%= render "controls/input", type: 'text', name: 'un' %></span>
			<span><%= render "controls/input", type: 'password', name: 'up' %></span>
			<span style='display:none;'>
				<%= render "controls/input", type: 'hidden', name: 'un2' %>
				<%= render "controls/input", type: 'hidden', name: 'up2' %>
				<%= render "controls/input", type: 'hidden', name: 'ub' %>
			</span>
			<%= render "controls/button", name: 'LogIn', submit: 'Вход', run: 'zedk.panel.UserLoginFromForm', title: 'Выход', style: 'enter', datas: { 'url' => url_for(:controller => 'auth', :action => 'user_login') } %>
		</form>
	</div>

<% 
else
%>

	<div class='usp-user'><%= @user.name %></div>
	<%= render "controls/button", name: 'ExitBtn', href: url_for(controller: 'auth', action: 'user_destroy'), title: 'Выход', style: 'exit' %>

	

<% end %>






<% if (!flash['user_logined_now'].nil?) %>
	<div class='usp-flash <%= if (flash['user_logined_error']) then 'err' end %>'><%= flash['user_logined_now'] %></div>
<% end %>