


<div class='ShcList'>
	<% articles.each do |_article| %>
		<% if (!_article.nil?) 
			if (_article.category.nil?) then _article.category = ShcoderCategory.new end
			%>
		<div class='ShcList_Block'>
			<a class='ShcBlock_Link' href='<%= _article.get_link() %>'><%= _article.title %></a>	
			<a class='ShcBlock_Category' href='<%= _article.get_category_link() %>'><%= _article.category.title %></a>
			<span class='ShcBlock_Date'><%= _article.date %></span>
			<div class='clear'></div>
		</div>
		<% end %>
	<% end %>
</div>

