


<div class='ShcList'>
	<% articles.each do |article| %>
		<div class='ShcList_Block'>
			<a class='ShcBlock_Link' href='<%= article.get_link() %>'><%= article.title %></a>	
			<a class='ShcBlock_Category' href='<%= article.get_category_link() %>'><%= article.category.title %></a>
			<span class='ShcBlock_Date'><%= article.date %></span>
			<div class='clear'></div>
		</div>
	<% end %>
</div>

