

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
	});
</script>
	

<div class='ShcoderMain'>

	<div class='ShcArticle'>
		<div class='ShcArticle_Date'><%= @article.date %> <%= @article.lastDateDate.nil? ? '' : "(последнее изменение #{@article.lastDate})" %></div>
		<h1 class='ShcArticle_Title page_title'><%= @article.title %></h1>	
		<div class='ShcArticle_Teaser'><%= @article.teaser %></div>

		<div class='ShcArticle_Text'>
			<%= @article.text %>
		</div>

	</div>



	<% if (ShcoderHelper.user_access_article(@user, @article)) %>
		<div><%= render "controls/button", name: 'editArticleBtn', href: url_for(controller: 'shcoder', action: 'edit_article', idname: @article.idname), title: 'Редактировать статью', style: 'normal'  %></div>
	<% end %>
	
	
</div>


