

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
		shcoder.InitArticle({});
	});
</script>
	
<%
# Кастомные тэги
# При добавлении нового, также добавить в редакторе в файле 'widgets/shcoder.js'
bbc_blockquote = {
	'h1' => [
		/\[h1\](.*?)\[\/h1\1?\]/mi,
		'<div class="bbc_h1">\1</div>'
	],
	'h2' => [
		/\[h2\](.*?)\[\/h2\1?\]/mi,
		'<div class="bbc_h2">\1</div>'
	],
	'h3' => [
		/\[h3\](.*?)\[\/h3\1?\]/mi,
		'<div class="bbc_h3">\1</div>'
	],
	'codemark' => [
		/\[codemark\](.*?)\[\/codemark\1?\]/mi,
		'<div class="bbc_codemark">\1</div>'
	],
	'tt' => [
		/\[tt\](.*?)\[\/tt\1?\]/mi,
		'<span class="bbc_tt">\1</span>',
		'tt',
		'[tt]please quote me[/tt]',
		:tt
	],
	'ttr' => [
		/\[ttr\](.*?)\[\/ttr\1?\]/mi,
		'<span class="bbc_ttr">\1</span>',
	],
	'br' => [
		/\[_br\]/mi,
		'<br>'
	],
	'zlink' => [
		/\[zlnk=(.*?)\](.*?)\[\/zlnk\]/mi,
		'<a href="\1" target="_blank">\2</a>'
	],
	'minimark' => [
		/\[minimark\](.*?)\[\/minimark\1?\]/mi,
		'<div class="bbc_minimark"><span class="bbc_minimark_block"> </span>\1</div>'
	],
	'minimarksm' => [
		/\[minimarksm\](.*?)\[\/minimarksm\1?\]/mi,
		'<div class="bbc_minimark_sm"><span class="bbc_minimark_block"> </span>\1</div>'
	],
	'bg1' => [
		/\[bg1\](.*?)\[\/bg1\1?\]/mi,
		'<div class="bbc_bg1"><span class="bbc_bg_text">\1</span></div>'
	],
	'bg2' => [
		/\[bg2\](.*?)\[\/bg2\1?\]/mi,
		'<div class="bbc_bg2"><span class="bbc_bg_text">\1</span></div>'
	],

	'cd_rb' => [
		/\[cd_rb\](.*?)\[\/cd_rb\1?\]/mi,
		'<pre><code class="ruby">\1</code></pre>'
	],
	'cd_sql' => [
		/\[cd_sql\](.*?)\[\/cd_sql\1?\]/mi,
		'<pre><code class="sql">\1</code></pre>'
	],
	'cd_js' => [
		/\[cd_js\](.*?)\[\/cd_js\1?\]/mi,
		'<pre><code class="js">\1</code></pre>'
	],
	'cd_ng' => [
		/\[cd_ng\](.*?)\[\/cd_ng\1?\]/mi,
		'<pre><code class="nginx">\1</code></pre>'
	],
	'cd_cs' => [
		/\[cd_cs\](.*?)\[\/cd_cs\1?\]/mi,
		'<pre><code class="cs">\1</code></pre>'
	],
	'cd_cp' => [
		/\[cd_cp\](.*?)\[\/cd_cp\1?\]/mi,
		'<pre><code class="cpp">\1</code></pre>'
	]
}

%>
<div class='ShcoderMain'>

	<div class='ShcArticle' itemscope itemtype="http://schema.org/Article">
		<div style="display:none;">
			<div itemprop="author"><%= @article.autor %></div>
			<div itemprop="dateCreated"><%= @article.dateDate.strftime('%Y-%m-%d') %></div>
			<div itemprop="editor"><%= @article.lastAutor %></div>
			<div itemprop="dateModified"><%= @article.modDate.strftime('%Y-%m-%d') %></div>
		</div>
		<div class='ShcArticle_Date'>
			<div class="ShcArticle_Date_Days"><%= @article.dateDate.strftime('%d/%m') %></div>
			<div class="ShcArticle_Date_Year"><%= @article.dateDate.strftime('%Y') %></div>
			<div class="clear"></div>
		</div>
		<% if (!@article.lastDateDate.nil?) %>
			<span class="ShcArticle_ModDate" title="<%= "последнее обновление #{@article.lastDate} - #{@article.lastAutor}" %>"> </span>
		<% end %>

		<h1 class='ShcArticle_Title page_title' itemprop="name"><%= @article.title %></h1>	
		<div class="clear"></div>

		<div class='ShcArticle_Teaser' style="display:none;" itemprop="description"><%= @article.teaser %></div>

		<div class='ShcArticle_Text' itemprop="articleBody">
			<%= @article.text.bbcode_to_html(bbc_blockquote, true, :disable, :link).html_safe %>
		</div>

	</div>



	<% if (ShcoderHelper.user_access_article(@user, @article)) %>
		<div><%= render "controls/button", name: 'editArticleBtn', href: url_for(controller: 'shcoder', action: 'edit_article', idname: @article.idname), title: 'Редактировать статью', style: 'normal'  %></div>
	<% end %>
	
	
</div>


