

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
	});
</script>
	

<div class='ShcoderMain'>


	<% if (!@category.nil?) %>
		<div class='ShcCategory'>
			<h1><%=@category.title%></h1>
			<%= render "articles", articles: @articles %>
			<%= render "shared/pager", pager: @pager %>
		</div>
		<% if (ShcoderHelper.user_access(@user)) %>
			<div><%= render "controls/button", name: 'addArticleBtn', href: url_for(controller: 'shcoder', action: 'edit_article', idname: '', idcatname: @category.idname), title: 'Добавить статью', style: 'normal'  %></div>
		<% end %>

	<% else %>
		<div class='ShcCategories ShcList'>
			<h1>Категории</h1>
			<% @categories.each do |category| %>
				<div class='ShcList_Block'>
					<a class='ShcBlock_Link' href='<%= category.get_link() %>'><%= category.title %></a>	
					<div class='clear'></div>
				</div>
			<% end %>
		</div>
	<% end %>


	
</div>


