

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
		shcoder.InitEditor({
			urlEdit: "<%= url_for(controller: 'shcoder', action: 'edit_article_do') %>"
		});
	});
</script>
	

<div class='ShcoderMain ShcEdit'>
	<h1 class='ShcTitle page_title'><%=@article.isNew ? "Добавление статьи" : "Редактирование" %></h1>
	
	<div class="ShcEdit_Datas" style="display:none;">
		<input type="hidden" name="id" value="<%=@article.id %>" />
	</div>


	
	<div class="ShcEdit_Line">
		<div class="ShcEdit_Line_Title">Название</div>
		<div class="ShcEdit_Line_ErrorWrapper"><div class="ShcEdit_Line_Error"></div></div>
		<div class="ShcEdit_Line_Body">
			<input class="ShcEditInp" type="text" name="title" value="<%=@article.title %>" />
		</div>
	</div>

	<div class="ShcEdit_Line">
		<div class="ShcEdit_Line_Title">Тизер</div>
		<div class="ShcEdit_Line_ErrorWrapper"><div class="ShcEdit_Line_Error"></div></div>
		<div class="ShcEdit_Line_Body">
			<input class="ShcEditInp" type="text" name="teaser" value="<%=@article.teaser %>" />
		</div>
	</div>

	<div class="ShcEdit_Line">
		<div class="ShcEdit_Line_Title">Статья</div>
		<div class="ShcEdit_Line_ErrorWrapper"><div class="ShcEdit_Line_Error"></div></div>
		<div class="ShcEdit_Line_Body">
			<textarea class="ShcEditInp" name="text"><%=@article.text %></textarea>
		</div>
	</div>
	



	<div><%= render "controls/button", name: 'saveArticleBtn', run: 'shcoder.Edit', title: 'Сохранить', style: 'success'  %></div>

	
</div>


