

<script type="text/javascript">
	$(function () {
		shcoder.Init({});
	});
</script>
	

<div class='ShcoderMain'>
	<h1 class='ShcTitle page_title'>Последние обновления</h1>
	
	
	<div class='ShcList'>
		<% @lastArticles.each do |article| %>
			<div class='ShcList_Block'>
				<div class='ShcBlock_Date'><%= article.date %></div>
				<a class='ShcBlock_Link' href='<%=url_for controller: 'shcoder', action: 'article', idname: article.idname %>'><%= article.title %></a>	
				<div class='ShcBlock_Teaser'><%= article.teaser %></div>
				<div class='clear'></div>
			</div>
		<% end %>
	</div>


	<% if (ShcoderHelper.user_access(@user)) %>
		<div><%= render "controls/button", name: 'addArticleBtn', href: url_for(controller: 'shcoder', action: 'edit_article'), title: 'Добавить статью', style: 'normal'  %></div>
	<% end %>
	
	
</div>


