<!DOCTYPE html>
<html>
<head>
	<title><%= full_title() %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Kirill Kotenko">
	<%= get_headers %>
	
	<%= stylesheet_link_tag 		"jquery-last" %>
	<%= stylesheet_link_tag 		"zelder" %>
	<%= stylesheet_link_tag    		"application" %>
	<% get_csss do |c| %>
		<%= stylesheet_link_tag(c) %>
	<% end %>
	<%= javascript_include_tag 		"jquery-last" %>
	<%= javascript_include_tag 		"zelder" %>
	<%= javascript_include_tag 		"application" %>
	<%= javascript_include_tag 		"modules/modules" %>
	<% get_jss do |j| %>
		<%= javascript_include_tag(j) %>
	<% end %>
	<%= csrf_meta_tags %>



	<script type="text/javascript">
	$(function () {
		<% if (Rails.env.development? || params['_jsdebug'] == '1' || params['_jsd'] == '1') %>
			zedk.DebugEnable();
		<% end %>
		//zedk.About();
		zedk.ui.InitOnPage();
	});
	</script>

</head>


<body>

	<div class="header">
		<div class="m-line header-line">
			<div class="header_title"><a class="logo_link" href="/" tabindex="-1">ZeDK</a></div>
		</div>
		<div class="user-panel"><%= render "shared/userpanel" %></div>
	</div>
	

	<%= render "shared/menu" %>
	<%= render "shared/megafon" %>

	<div class="content">
		<div class="m-line content-line">
			<%= yield %>
		</div>
	</div>



	<div class="footer">
		<div class="m-line footer-line">
			<span>zelder 2015</span>
			<%= link_to 'Home', root_path %>
		</div>
	</div>

	<%= render "shared/debug" %>

</body>
</html>
